body {
    background: black;
}

.container-line {
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    background: #4c4319;
}

.numbers {
    width: 125px;
    height: 185px;
    margin: 10px;
    border: 1px solid #ccc;
    background: #fffaf9;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.cript {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#out {
    position: absolute;
    top: 20px;
    left: 300px;
    padding: 20px;
    font-size: 100px;
    color: red;
    border: 1px solid red;
    transform: rotate(45deg);
}